<p-toast></p-toast>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<div class="container">
   
   
  <div class="row">
   <div class="col-sm-12">
     <div class="row mb-4"> 
        <h5>Employee Data</h5>
     </div>
   
<!-- <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    -->
<!-- 
<div class="row mb-3">
    <label for="id" class="col-sm-1 col-form-label">ID :</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="ID" pInputText id="id" [(ngModel)]="employee.id" >
    </div>
</div>  -->



  <div class="row mb-4">
    <label for="name1" class="col-sm-2 col-form-label" translate>global.name</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" pInputText id="name" placeholder="Name" [(ngModel)]="employee.name">
    </div>
   </div> 

   <div class="row mb-4">
    <label for="address" class="col-sm-2 col-form-label" translate>global.Address</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" pInputText id="address" placeholder="Address" [(ngModel)]="employee.address">
    </div>
   </div> 

   <div class=" row mb-5">
    <label for="deptName" class="col-sm-2 col-form-label" translate >global.DepartmentName</label>
    <div class="col-sm-5">      
        <input type="text" class="form-control"    pInputText id="deptName" placeholder="Department name" [(ngModel)]="employee.deptName">
    </div>
   </div>

   <div class="form-group mb-3">
        <button class="btn btn-outline-success m-2 mt-2"  (click)="submitData()"   [disabled]="saveDetails">Submit</button>
        <button class="btn btn-outline-primary m-2 mt-2"  [disabled]="updateDetails" (click)="updateEmployee(employee)" >Update</button>
        <button class="btn btn-outline-danger m-2 mt-2"   [disabled]="deleteDetails" (click)="deleteEmployee(employee.id)" translate>global.btnDelete</button>
        <button class="btn btn-warning m-2 mt-2"          (click)="clearData()">Clear</button>
      
   </div>


</div>
   
</div>
</div>
<br>
<!-- Table creation -->


<div class="container-fluid">
    <div class="height">
       
    <div class="row mb-4">
    
        <h5>Employee Details 3</h5>
    <div>
      
        
        <p-table 
        
        [columns]="scrollableCols" 
        [frozenColumns]="frozenCols"
        [resizableColumns]="true"
        selectionMode="single"
        [value]="employees"
        [scrollable]="true" 
        selectionMode="multiple"
        styleClass="p-datatable-sm"
        scrollHeight="200px"
        frozenWidth="300px"
        (onRowSelect)="onRowSelect($event)" 
        (onRowUnselect)="onRowUnselect($event)"
        [(selection)]="selectedEmployee"   
        styleClass="p-datatable-gridlines" 
        [metaKeySelection]="true" 
        [(contextMenuSelection)]="selectedEmployee" 
        [contextMenu]="cm"
        [style]="{width:'900px'}"
        columnResizeMode="expand"
      
        >
   
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:380px">
            </colgroup>
        </ng-template>
       
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn
                 [pSortableColumn]="col.field" >
                 <span translate>{{col.header}}</span>
                    <!-- {{col.header | translate}} -->
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
       
       <ng-template pTemplate="body" let-employee let-columns="columns ">
           <tr [pSelectableRow]="employee " [pContextMenuRow]="employee" (mouseup)="mouseClick($event)">
               <td *ngFor="let col of columns ">
                   {{employee[col.field] }}
               </td>
           </tr>
       </ng-template>
   </p-table>
   </div>
  
</div>

    
        <!-- <p-table [value]="employees" 
             [resizableColumns]="true" 
             columnResizeMode="expand"   
             dataKey="code"
             styleClass="p-datatable-gridlines" 
             (onRowSelect)="onRowSelect($event)" 
             (onRowUnselect)="onRowUnselect($event)"
             selectionMode="single" 
             [(selection)]="selectedEmployee" 
             [scrollable]="true" 
             scrollHeight="300px">
          
        
             <ng-template pTemplate="header" >
              
                <tr  >
                     <th  style="width:400px"  pSortableColumn="name"         pResizableColumn>Name <p-sortIcon feild="name"></p-sortIcon></th>
                     <th  style="width:200px"  pSortableColumn="address"      pResizableColumn>Address <p-sortIcon feild="address"></p-sortIcon></th>
                     <th  style="width:200px"  pSortableColumn="deptName"      pResizableColumn>Department Name <p-sortIcon feild="deptName"></p-sortIcon></th>
                </tr>
    
            </ng-template>
            

            <ng-template pTemplate="body" let-emp   >
                <tr [pSelectableRow]="emp"> 
                    <td style="width:400px"  >{{emp.name}}</td>
                    <td style="width:400px" >{{emp.address}}</td>
                    <td style="width:400px" >{{emp.deptName}}</td>
                   
                </tr>
            </ng-template>   
        </p-table> -->
 
